{% extends 'base.html.twig' %}

{% block title %}Employee index
{% endblock %}

{% block body %}
	<h1>Employee index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Picture</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for employee in employees %}
				<tr>
					<td>{{ employee.id }}</td>
					<td>{{ employee.name }}</td>
					<td>
						<img src="https://sa-practice-bucket.s3.af-south-1.amazonaws.com/wallpaperflare.com_wallpaper.jpg" alt="profile pic" height="40" width="40">
					</td>
					<td>
						<a href="{{ path('app_employee_show', {'id': employee.id}) }}">show</a>
						<a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_employee_new') }}">Create new</a>
{% endblock %}
